@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* Viora Font - Custom Font */
@font-face {
  font-family: 'Viora';
  src: url('/fonts/Viora.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


/* Optional: Custom styles */
* {
  font-family: 'Outfit';
  box-sizing: border-box;
}


html {
  overflow-x: hidden;
  max-width: 100%;
}


body {
  color: black;
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
}
